<h2>Items to Buy</h2>
<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Price</th>
      <th>Available Amount</th>
      <th>Total Price</th>
      <th>Purchase</th>
    </tr>
  </thead>
  <tbody>
    <app-sellable-item *ngFor="let item of sellableItems" [data]="item" ></app-sellable-item>
  </tbody>
</table>
-------------------------------------------------------<br>
<h2>Items to Sell</h2>
<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Price</th>
      <th>Total Earnings</th>
      <th>Purchase</th>
    </tr>
  </thead>
  <tbody>
    <app-buyable-item *ngFor="let item of buyableItems" [data]="item" ></app-buyable-item>
  </tbody>
</table>
