h2 {
  margin: 1em 2em;
}
p {
  margin: .5em 3em;
  color: white;
}

mat-grid-list {
  margin: 2em 3em;
  height: 600px;
}

.wrapper {
  display: flex;
  margin: 2em 3em;
  flex-wrap: wrap;
  gap: 1em;
}

app-buyable-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 5px;
  width: 300px;
}