<!-- Sellable from the station pov. -->
<!-- But the web user buys them -->
<h2>Items to Buy</h2>
<h3>This is that you pay money to get our items.</h3>
<table>
  <tbody>
    <tr *ngFor="let item of buyableItems">
      <app-sellable-item [data]="item"></app-sellable-item>
    </tr>
  </tbody>
</table>
-------------------------------------------------------<br>
<!-- Sellable from the station pov. -->
<!-- But the web user sells them -->
<h2>Items to Sell</h2>
<h3>This is that you get money for your items.</h3>
<table>
  <tbody>
    <tr *ngFor="let item of sellableItems">
      <app-buyable-item [data]="item"></app-buyable-item>
    </tr>
  </tbody>
</table>
