<p class="center-text">Hello Survivor! {{walletAddress}}</p>
<p class="center-text">Would you like to donate some gas or EVE to the wallet?</p>
<p class="center-text">Gas is used to pay for transactions on the blockchain</p>
<p class="center-text">EVE is used to pay our hard workers.</p>
<p class="center-text">Donations are greatly appreciated!</p>
<p class="center-text">Thank you for your support!</p>
<br>
<div class="center-text">
  <input type="number" [(ngModel)]="gasDonationAmount" step="0.000000000000000001">
  <button (click)="doDonateGas()">Donate Gas</button>
</div>
<br>
<div class="center-text">
  <input type="number" [(ngModel)]="eveDonationAmount" step="0.000000000000000001">
  <button (click)="doDonateEve()">Donate EVE</button>
</div>

<p class="center-text">{{debugText}}</p>
<p class="center-text">{{finalText}}</p>