mat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    mat-card-header {
        flex: none;
        font-weight: bold;
        font-size: larger;
        line-height: 1.5;
    }
    mat-card-content {
        flex: 1 1 auto;
    }
    mat-card-actions {
        margin-top: 2em;
        flex: none;
        justify-content: space-between;
        gap: 1em;
    }
}

mat-divider {
    margin: 1em 0;
}

p em {
    color: var(--mat-card-subtitle-text-color);
}