<body>
  Welcome to the Maslow Sumo's test area.<br>
  Please wait while I do the developing.
<br><br>
Current features:
<ul>
  <li class="li-spacer">
    <a routerLink="/sysTracker">System Tracker</a> - Want to see current deployed structres in a system? Click here.
  </li>
  <li class="li-spacer">
    <a routerLink="/items">Item List</a> - A fancy list of all in-game items. And their ids!
  </li>
  <li class="li-spacer">
    <a routerLink="/ranking">Rich People List</a> - Who has the most EVE in the game? Click here to find out.
  </li>
  <li class="li-spacer">
    <a routerLink="/wallet">Wallet Checker!</a> - Want to see your wallet address? Click here.
  </li>
  <li class="li-spacer">
    <a routerLink="/donate">Donations Welcome!</a> - All right, time to give me money.
  </li>
  <li class="li-spacer">
    Vending Machine - We used this to test an issue with contracts. It's not available anymore.
  </li>
</ul>
<footer>
  <p>Developed by Maslow Team. Sumo Podenco v7.3</p>
</footer>
</body>