<mat-toolbar>
  <mat-toolbar-row>
    <h1 class="Title">Welcome to the Maslow Sumo's test area</h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <em>Please wait while I do the developing</em>
  </mat-toolbar-row>
</mat-toolbar>
<h2>Current features</h2>
<mat-grid-list cols="2" gutterSize="1em" rowHeight="150px">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>System Tracker</mat-card-header>
      <mat-card-content>
        <p>Want to see current deployed structres in a system? Click here.</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/sysTracker']" matRipple [matRippleColor]="brightQuantumColor">System Tracker</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>Item List</mat-card-header>
      <mat-card-content>
        <p>A fancy list of all in-game items. And their ids!</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/items']">Item List</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>Rich People List</mat-card-header>
      <mat-card-content>
        <p>Who has the most EVE in the game? Click here to find out.</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/ranking']">Rich People List</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>Wallet Checker!</mat-card-header>
      <mat-card-content>
        <p>Check your wallet balance. Click here to see your balance.</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/wallet']">Wallet Checker</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>Donations Welcome!</mat-card-header>
      <mat-card-content>
        <p>All right, time to give me money.</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/donate']">Donations</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>Trade Machine!</mat-card-header>
      <mat-card-content>
        <p>Want to trade in-game items? Click here.</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/trade']">Trade Machine</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>